body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  background-color: #efefef;
}

a {
  text-decoration: none;
  color: #090909;
}

h2 {
  margin: 0;
}

button {
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.hidden {
  display: none !important;
}

.f18 {
  font-size: 18px;
}

/*LeftSide Bar*/
.header {
  position: fixed;
  width: 100%;
  max-height: 56px;
  background-color: #fff;
  color: #000;
  z-index: 9;
}

.header .nav_header {
  max-width: 1280px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 56px;
}

.header .nav_header .nav_header--nav {
  width: 100%;
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .nav_header .nav_header--nav .icon-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.header .nav_header .nav_header--nav .icon-search .site-logo img {
  border-radius: 3px;
}

.header .nav_header .nav_header--nav .icon-search .busqueda .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header .nav_header .nav_header--nav .icon-search .busqueda .flex .input {
  height: 40px;
  width: 410px;
  border-radius: 6px;
  border: 1px solid #c2c2c2;
  font-size: 1rem;
  padding: 0;
  text-indent: 0.5rem;
}

.header .nav_header .nav_header--nav .icon-search .busqueda .flex .input:focus {
  border: 2px solid #3b49df;
  outline: none;
}

.header .nav_header .nav_header--nav .icon-search .busqueda .flex .icon {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 1rem;
  z-index: 2;
}

.header .nav_header .nav_header--nav .icon-search .busqueda .flex .icon:hover {
  background-color: #EDEDED;
  border-radius: 50px;
  padding: 0.25rem;
}

.header .nav_header .nav_header--nav .items-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}

.header .nav_header .nav_header--nav .items-center .button__create {
  color: white;
  background-color: #3b49df;
  padding: 0.75rem 1rem;
  border-radius: 6px;
  font-weight: 600;
  font-size: 16px;
}

.container_main {
  padding-top: 56px;
}

.container_main .main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 240px 2fr 1fr;
      grid-template-columns: 240px 2fr 1fr;
  margin: 0 auto;
  padding: 1rem;
  gap: 1rem;
  max-width: 1280px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container_main .main .filter-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0.25rem;
}

.container_main .main .filter-cards .items-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container_main .main .filter-cards .items-center li {
  padding: 0.5rem 0.5rem;
}

.container_main .main .filter-cards .items-center li a {
  color: #575757;
  padding: 0.5rem 0.5rem;
}

.container_main .main .filter-cards .items-center li a:hover {
  color: #3b49df !important;
}

.container_main .main .filter-cards .items-center li:hover {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}

.container_main .main .main--body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
}

.container_main .main .main--body .card:first-child figure:first-child {
  display: block;
}

.container_main .main .main--body .card:first-child .card__body .body__main .body__title .cards-secondary {
  font-size: 1.875rem;
}

.container_main .main .main--body .card {
  background-color: #ffffff;
  overflow-x: hidden;
  border-radius: 6px;
  border: 1px solid rgba(9, 9, 9, 0.2);
}

.container_main .main .main--body .card figure {
  display: none;
}

.container_main .main .main--body .card .card__img {
  margin: 0;
}

.container_main .main .main--body .card .card__img img {
  width: 100%;
}

.container_main .main .main--body .card .card__body {
  padding: 20px;
  gap: 0.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container_main .main .main--body .card .card__body .body__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container_main .main .main--body .card .card__body .body__top .ps-relative {
  position: relative;
}

.container_main .main .main--body .card .card__body .body__top .img__autor {
  width: 2rem;
  margin-right: 0.5rem;
  border: 1px solid #c0c0c0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container_main .main .main--body .card .card__body .body__top .radius-10 {
  border-radius: 50%;
}

.container_main .main .main--body .card .card__body .body__top .sub-autor {
  width: 1.25rem;
  margin: 0;
  position: absolute;
  bottom: -20%;
  left: 45%;
  border: 2px solid #ffffff;
}

.container_main .main .main--body .card .card__body .body__top .autor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 15px;
}

.container_main .main .main--body .card .card__body .body__top .autor .autor__name {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-weight: 500;
  font-size: 14px;
}

.container_main .main .main--body .card .card__body .body__top .autor .autor__name .inSombra:hover {
  position: relative;
  z-index: 2;
}

.container_main .main .main--body .card .card__body .body__top .autor .autor__name .inSombra:hover .sombra {
  background-color: rgba(0, 0, 0, 0.035);
  height: 100%;
  width: 100%;
  position: absolute;
  top: -4px;
  left: -4px;
  z-index: -1;
  border-radius: 6px;
  padding: 0.25rem;
}

.container_main .main .main--body .card .card__body .body__top .autor .autor__name .for {
  color: #575757;
  font-weight: 100;
}

.container_main .main .main--body .card .card__body .body__top .autor a button {
  font-size: .875rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container_main .main .main--body .card .card__body .body__top .autor a time {
  font-size: 0.75rem;
  color: #717171;
}

.container_main .main .main--body .card .card__body .body__main {
  padding-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.45rem;
}

.container_main .main .main--body .card .card__body .body__main .body__title .cards-secondary {
  font-size: 1.50rem;
}

.container_main .main .main--body .card .card__body .body__main .body__title .cards-secondary a {
  cursor: default;
}

.container_main .main .main--body .card .card__body .body__main .body__title .cards-secondary:hover a {
  color: #323ebe;
}

.container_main .main .main--body .card .card__body .body__main .body__tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -0.25rem;
  gap: 0.5rem;
}

.container_main .main .main--body .card .card__body .body__main .body__tag a {
  padding: 0.25rem;
  color: #717171;
  font-size: 0.9375rem;
}

.container_main .main .main--body .card .card__body .body__main .body__tag span {
  opacity: 0.4;
}

.container_main .main .main--body .card .card__body .body__main .body__tag .decorate-ancor {
  background-color: #091b47;
  color: #b2ffe1;
  border-radius: 10px;
  padding: 0.25rem;
}

.container_main .main .main--body .card .card__body .body__main .body__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container_main .main .main--body .card .card__body .body__main .body__bottom .bottom__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -0.5rem;
}

.container_main .main .main--body .card .card__body .body__main .body__bottom .bottom__details .align__items {
  font-size: 14px;
}

.container_main .main .main--body .card .card__body .body__main .body__bottom .bottom__details .align__items .align__items--padding {
  padding: 4px 12px 4px 8px;
  border-radius: 6px;
  gap: 0.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container_main .main .main--body .card .card__body .body__main .body__bottom .bottom__details .align__items--padding:hover {
  background-color: rgba(0, 0, 0, 0.035);
}

.container_main .main .main--body .card .card__body .body__main .bottom__save {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}

.container_main .main .main--body .card .card__body .body__main .bottom__save small {
  color: #717171;
  font-size: 11.2px;
}

.container_main .main .main--body .card .card__body .body__main .bottom__save button {
  background-color: #d6d6d7;
  padding: 0.25rem 0.75rem;
  height: 2rem;
  font-size: 12.5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 3px 0px;
          box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 3px 0px;
}

.container_main .main .main--body .card .card__body .body__main .bottom__save .button__save--update {
  background-color: #35dcce;
}

.container_main .main .main--body .card .card__body .body__main .bottom__save .button__save--delete {
  background-color: #dc3545;
  color: #fff !important;
}

.container_main .main .main--body .card .card__body .body__main .bottom__save .button__save--delete:hover {
  background-color: #c01d2d;
}

.container_main .main .main--body .card .card__body .body__main .bottom__save .button__save--update:hover {
  background-color: #32c0b4;
  color: #fff;
}

.bordCard {
  border: 1px solid blue !important;
}

.filter-select {
  font-weight: 700;
  color: #000 !important;
}

.radius-50 {
  border-radius: 50%;
}

.sidebar-right .right-card-1 {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #d8d8d8;
  font-weight: bold;
  border-radius: 10px;
}

.sidebar-right .right-card-1 .right-card-header {
  margin-bottom: 20px;
  width: 100%;
}

.sidebar-right .right-card-1 .right-card-text #p {
  font-size: 17px;
  font-weight: 100;
  font-weight: bold;
}

.sidebar-right .right-card-1 .right-card-link {
  border-radius: 10px;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  color: #3b49e1;
}

.sidebar-right .right-card-1 .right-card-footer {
  margin-top: 10px;
}

.sidebar-right .right-card-1 .right-card-footer .right-card-footer-link {
  text-decoration: none;
  font-size: 18px;
  color: #3b49e1;
}

.sidebar-right .right-card-2 {
  border-radius: 10px;
  background-color: #f9f9f9;
  margin-top: 8px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  border: 1px solid #d8d8d8;
}

.sidebar-right .right-card-2-heading {
  padding: 5px 20px 5px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #d8d8d8;
}

.sidebar-right .right-card-2-heading .right-card-2-h3 {
  font-weight: 600;
  font-size: 17px;
  font-weight: bold;
}

.sidebar-right .right-card-2-heading .right-card-2-link {
  text-decoration: none;
  font-weight: 600;
  color: #3b49e2;
}

.sidebar-right .right-card-2-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5px 20px 5px 20px;
  border-bottom: 1px solid #d8d8d8;
}

.sidebar-right .right-card-2-content #a {
  text-decoration: none;
}

.sidebar-right .right-card-2-content .card-2-p-container .paragraph-1 {
  font-size: 17px;
  font-weight: 600;
  line-height: 1.5;
  color: #444444;
  text-decoration: none;
}

.sidebar-right .right-card-2-content .card-2-p-container .paragraph-2 {
  font-size: 17px;
  font-weight: 100;
  line-height: 1.5;
  color: #8f8f8f;
  padding-top: 10px;
  text-decoration: none;
}

.sidebar-right .right-card-2-footer {
  text-align: center;
  padding: 5px 20px 5px 20px;
}

.sidebar-right .right-card-2-footer #a {
  text-decoration: none;
  font-size: 18px;
  color: black;
}

.sidebar-right .right-card-2-content .link-container .card-2-p-container .paragraph-1:hover {
  color: #3b49e2;
}

.sidebar-right .right-card-2-content:hover {
  background-color: #ffffff;
}

.sidebar-right .right-card-2-footer a:hover {
  color: #3b49e2;
}

.sidebar-right .right-span-container {
  margin: 0px 0px 20px 0;
}

.sidebar-right .right-span-container .right-card-span {
  background-color: #3b49e2;
  color: #ffffff;
  border-radius: 3px;
  padding: 3px 5px;
}

.sidebar-right .right-card-container-4 {
  border-radius: 10px;
  margin-top: 0px;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  width: 100%;
}

.sidebar-right .right-card-container-4 .container-4-header {
  padding: 0px 0 0px 0px;
}

.sidebar-right .right-card-container-4 .container-4-header .container-4-tittle {
  font-size: 17px;
  font-weight: 600;
}

.sidebar-right .right-card-container-4 .right-card-2-content {
  padding: 20px;
  border-bottom: none;
}

.sidebar-left {
  max-width: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.left-card {
  padding: 0;
  width: 100%;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.LBcontIntro {
  background-color: white;
  border-radius: 10px;
  border: 1px solid #e6e6e6;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.LBcontHeadIntro {
  margin-left: 15px;
  padding: 16px 16px 10px 16px;
}

.LBintroTxt {
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  line-height: 1.3;
  font-weight: 700;
  font-size: 22px;
}

#LBIntroLink,
.LBpub {
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  color: #3b49df;
  line-height: 1.7;
  font-weight: 700;
  font-size: 18.72px;
}

.LBcontBodyIntro {
  margin-left: 10px;
  font-size: 18px;
  padding: 20px;
  line-height: 1.4;
  color: #57577b;
}

.LBcontBotonesIntro {
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 10px;
  padding: 0px 16px 0 16px;
}

#LBbtnAcount {
  background-color: #3b49df;
  color: white;
  padding: 10px 32px;
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 10px;
}

#LBbtnAcount:hover {
  background-color: #2c38c0;
}

#LBbtnLogIn {
  padding: 10px 32px;
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 80px;
  color: #3b49df;
  margin-bottom: 10px;
}

#LBbtnLogIn:hover {
  background-color: #f1efef;
}

.LBcontDevCom, .LBcontOther {
  width: 100%;
}

.LBcont1,
.LBOcont0 {
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  padding-top: 15px;
  padding-bottom: 10px;
}

.LBcont2,
.LBcont3,
.LBcont4,
.LBcont5,
.LBcont6,
.LBcont7,
.LBcont8,
.LBcont9,
.LBcont10,
.LBcont11,
.LBcont12,
.LBOcont1,
.LBOcont2,
.LBOcont3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
}

.LBcont2 svg,
.LBcont3 svg,
.LBcont4 svg,
.LBcont5 svg,
.LBcont6 svg,
.LBcont7 svg,
.LBcont8 svg,
.LBcont9 svg,
.LBcont10 svg,
.LBcont11 svg,
.LBcont12 svg,
.LBOcont1 svg,
.LBOcont2 svg,
.LBOcont3 svg {
  margin: 0 0 0 0.75rem;
}

.LBcont2 p,
.LBcont3 p,
.LBcont4 p,
.LBcont5 p,
.LBcont6 p,
.LBcont7 p,
.LBcont8 p,
.LBcont9 p,
.LBcont10 p,
.LBcont11 p,
.LBcont12 p,
.LBOcont1 p,
.LBOcont2 p,
.LBOcont3 p {
  margin: 0.5rem;
  color: #242424 !important;
}

#LBOicon1 {
  margin-top: 20px;
  margin-right: 10px;
}

#LBicon10 {
  height: 24px;
  width: 24px;
  margin-right: 10px;
}

.LBcont2:hover,
.LBcont3:hover,
.LBcont4:hover,
.LBcont5:hover,
.LBcont6:hover,
.LBcont7:hover,
.LBcont8:hover,
.LBcont9:hover,
.LBcont10:hover,
.LBcont11:hover,
.LBcont12:hover,
.LBOcont1:hover,
.LBOcont2:hover,
.LBOcont3:hover {
  background-color: #E3E3E3;
  cursor: pointer;
  border-radius: 5px;
}

.LBcont2:hoverp:hover,
.LBcont3:hoverp:hover,
.LBcont4:hoverp:hover,
.LBcont5:hoverp:hover,
.LBcont6:hoverp:hover,
.LBcont7:hoverp:hover,
.LBcont8:hoverp:hover,
.LBcont9:hoverp:hover,
.LBcont10:hoverp:hover,
.LBcont11:hoverp:hover,
.LBcont12:hoverp:hover,
.LBOcont1:hoverp:hover,
.LBOcont2:hoverp:hover,
.LBOcont3:hoverp:hover {
  color: #323ebe !important;
}

.LBcontRedS {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  padding: 40px 0 40px 10px;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  fill: #7c7a7a;
}

.crayons-icon {
  margin: 0 20px 0 0px;
}

#LBiconRS1:hover,
#LBiconRS2:hover,
#LBiconRS3:hover,
#LBiconRS4:hover,
#LBiconRS5:hover {
  fill: #504f4f;
  cursor: pointer;
}

.LBcontTags {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.LBheadTags {
  font-weight: bold;
  font-size: 16px;
  width: 100%;
}

.LBtags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 360px;
  overflow: scroll;
  overflow-x: hidden;
  padding-top: 0px;
}

.LBTagCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  width: 223px;
  height: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  padding: 20px 5px 20px 0px;
  border-radius: 5px;
  z-index: 2;
}

.LBTagBtn {
  background-color: #E6E3E3;
  color: #E6E3E3;
  border-radius: 5px;
  width: 70px;
  height: 25px;
  padding-bottom: 20px;
}

.LBTagCont:hover .LBTagBtn {
  text-align: center;
  background-color: #3b49df;
  color: white;
  border-radius: 5px;
  font-size: 14px;
}

.LBTagCont:hover {
  background-color: #e3e3e3;
  border-radius: 5px;
  cursor: pointer;
  color: #3b49df;
}

.LBcontPub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 20px;
  height: 300px;
  width: 100%;
}

.LBcontPub .LBPub {
  text-align: center;
  font-size: 240px;
}

.LBim1 {
  height: 180px;
  width: 240px;
}

.LBcontPub:hover {
  cursor: pointer;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .aside--right {
    display: none;
  }
  .main {
    -ms-grid-columns: 2fr 5fr;
        grid-template-columns: 2fr 5fr;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .aside--left {
    display: none;
  }
  .aside--right {
    display: none;
  }
  .main {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: 0;
  }
}

.fluid-post {
  padding: 0px;
}

.nav-create-post {
  padding: 5px 0px;
}

.nav-create-post .row > * {
  width: auto;
}

.nav-create-post .parrafo {
  width: auto;
  height: 100%;
  margin-bottom: 0px;
}

.nav-create-post select {
  background-color: transparent;
  padding: 10px;
  border-radius: 10px;
  border: solid 1px gray;
}

.nav-create-post select option {
  padding: 10px;
  margin: 10px;
}

.nav-create-post select:focus {
  border: solid 1px blue;
}

.nav-create-post .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100%;
  width: auto;
}

.nav-create-post .items .item {
  position: relative;
  margin: 0px 5px;
  padding: 5px;
  border-radius: 10px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.nav-create-post .items .item .line {
  position: absolute;
  display: block;
  width: 0%;
  bottom: 0px;
  border-bottom: solid 2px #323ebe;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.nav-create-post .items .item:hover {
  color: #323ebe;
  background-color: #bdbdbd;
}

.nav-create-post .items .item:hover .line {
  display: block;
  width: 80%;
}

.form-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.form-section .parrafo {
  width: auto;
  height: 100%;
  margin-bottom: 0px;
}

.form-section .form {
  position: relative;
  width: 90%;
  min-height: 80vh;
  height: auto;
  background-color: white;
  padding: 25px 50px;
  overflow-y: scroll;
}

.form-section .form input {
  width: 100%;
  height: auto;
  max-height: 100px;
  border: none;
  margin: 10px 0px;
  padding: none;
  background-color: transparent;
}

.form-section .form input:focus {
  outline: none;
}

.form-section .form .titulo {
  font-size: 50px;
}

.form-section .form .tags {
  font-size: 25px;
}

.form-section .form .aviso-tags {
  display: none;
}

.form-section .form .up-img {
  font-size: 20px;
}

.form-section .form .content {
  font-size: 25px;
}

.form-section .buttons {
  width: 90%;
}

.form-section .buttons .aviso-post {
  display: none;
}

.form-section .aviso {
  color: red;
  font-size: 12px;
}

.boton {
  padding: 5px 10px;
  border: solid 1px gray;
  border-radius: 5px;
  margin: 5px;
}

.btn-add-cover {
  background-color: transparent;
}

.btn-publish {
  color: white;
  background-color: black;
}

.btn-publish:disabled {
  background-color: darkgray;
}

.btn-save-draft {
  color: white;
  background-color: gray;
}

* {
  text-decoration: none;
  list-style: none;
}

* ul {
  padding: 0;
}

* a {
  text-decoration: none;
}

* .barra {
  display: none;
  visibility: hidden;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.avatar {
  width: 50px;
}

.avatar2 {
  border-radius: 50%;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 35px;
}

.dates {
  font-size: 12px;
  font-weight: 300;
  margin: 0;
}

.names {
  font-size: 16px;
  font-weight: 400;
}

.titles {
  font-size: 22px;
}

.subcontent {
  font-size: 13px;
  font-weight: 250;
}

.driwwwle {
  width: 30%;
}

.pinkImage {
  width: 40%;
}

.numbers {
  color: gray;
  font-size: 15px;
  font-weight: 400;
}

.numbers2 {
  color: gray;
  font-size: 15px;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.left_icons {
  fill: #525050;
}

.txt-area {
  width: 80%;
}

.comment1 {
  width: 80%;
}

.columna {
  position: fixed;
  top: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.comment2 {
  width: 82%;
}

.lastSection {
  font-size: 20px;
  font-weight: bold;
}

.lastSectionTitle {
  font-size: 16px;
  font-weight: bold;
}

.lastSectionTitle a {
  color: black;
}

.lastSectionUser {
  font-size: 13px;
  font-weight: 200;
}

.names_r {
  font-size: 14px;
  font-weight: bold;
  color: black;
}

.name_nitin {
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.btn-r {
  width: 100%;
  font-weight: 550;
}

.card_author {
  font-size: 12px;
  font-weight: 200;
  color: #444444;
  line-height: 12px;
}

.card_author .negrita {
  font-weight: 550;
  color: #868282;
}

.more_title {
  font-size: 14px;
  font-weight: 400;
  color: black;
}

.more_tags {
  font-size: 12px;
  font-weight: 300;
  color: gray;
}

.sideIzquierda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 750px) {
  .sideIzquierda {
    display: none;
    visibility: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .barra {
    display: block;
    visibility: visible;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: #efefef;
    border-radius: 5px;
    z-index: 2000;
  }
}

.colored-bar {
  background-color: #072634;
  height: 45px;
}

.avatar-profile {
  position: relative;
  top: -18px;
}
/*# sourceMappingURL=styles.css.map */