.nav-create-post{
    padding: 5px 0px;
    .row>*{
        width: auto;
    }
    .parrafo{
        width: auto;
        height: 100%;
        // border: solid 1px black;
        margin-bottom: 0px;
    }
    select{
        background-color: transparent;
        padding: 10px;
        border-radius: 10px;
        border: solid 1px gray;
        option{
            padding: 10px;
            margin: 10px;
        }
        &:focus{
            border: solid 1px blue;
        }
    }

    .items{
        display: flex;
        justify-content: flex-end;
        height: 100%;
        width: auto;
        .item{
            position: relative;
            margin: 0px 5px;
            padding: 5px;
            border-radius: 10px;
            transition: all .5s;
            
            .line{
                position: absolute;
                display: block;
                width: 0%;
                bottom: 0px;
                border-bottom: solid 2px $gralBlue;
                transition: all .5s;
            }
            &:hover{
                color: $gralBlue;
                background-color: $HoverGray;
                .line{
                    display: block;
                    width: 80%;
                }
            }
        }
    }
}
section.form{
    min-height: 80vh;
    height: auto;
    .titulo{
        width: 100%;
        min-height: 150px;
        max-height: auto;
        font-size: 50px;
        border: none;
        background-color: transparent;
        &:focus{
            outline: none;
        }
    }
}