.sidebar-left {
    max-width: 240px;
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     align-items: flex-start;
   
   }
   
   .left-card {
     padding: 0;
    width: 100%;
       border-radius: 10px;
       display: flex;
       flex-direction: column;
       flex-wrap: nowrap;
       align-items: flex-start;
     }
     
     //Primera Tarjeta
     .LBcontIntro {
       
       background-color: white;
       border-radius: 10px;
       border: 1px solid rgb(230, 230, 230);
       margin-bottom: 20px;
       display: flex;
       flex-direction: column;
       align-content: flex-start;
     }
     
     .LBcontHeadIntro {
       // min-width: 80%;
       // margin: 20px;
       margin-left: 15px;
       padding: 16px 16px 10px 16px;
     
       // border: solid 1px pink;
     }
     
     .LBintroTxt {
       
       font-weight: bold;
     font-size: 18px;
     text-decoration: none;
       line-height: 1.3;
       font-weight: 700;
       font-size: 22px;
       // line-height: 2px;
     }
     
     #LBIntroLink,
     .LBpub {
       font-weight: bold;
     font-size: 18px;
     text-decoration: none;
       color: #3b49df;
       line-height: 1.7;
       font-weight: 700;
       font-size: 18.72px;
     }
     
     .LBcontBodyIntro {
       // margin: 20px;
       margin-left: 10px;
       font-size: 18px;
       padding: 20px;
       line-height: 1.4;
       color: #57577b;
     }
     
     .LBcontBotonesIntro {
       border-radius: 10px;
       display: flex;
       flex-direction: column;
       align-items: flex-start;
       margin-left: 10px;
     
       // justify-content: flex-start;
       padding: 0px 16px 0 16px;
     }
     
     #LBbtnAcount {
       background-color: #3b49df;
       color: white;
     padding: 10px 32px;
     border-radius: 5px;
     font-weight: bold;
     text-decoration: none;
       margin-bottom: 10px;
     }
     
     #LBbtnAcount:hover {
       background-color: #2c38c0;
     }
     
     #LBbtnLogIn {
     padding: 10px 32px;
     border-radius: 5px;
     font-weight: bold;
     text-decoration: none;
       padding: 10px 80px;
       color: #3b49df;
       margin-bottom: 10px;
     }
     
     #LBbtnLogIn:hover {
       background-color: #f1efef;
     }
     
     // Segunda Tarjeta,
     // Tercera Tarjeta .LBcontDevCom {
     // }
     
     .LBcontDevCom,.LBcontOther{
       //background-color: red;
       width: 100%;
    //    padding-left: 10px;
     }
     .LBcont1,
     .LBOcont0 {
       font-weight: bold;
     font-size: 16px;
     text-decoration: none;
       padding-top: 15px;
       padding-bottom: 10px;
     }
     
     .LBcont2,
     .LBcont3,
     .LBcont4,
     .LBcont5,
     .LBcont6,
     .LBcont7,
     .LBcont8,
     .LBcont9,
     .LBcont10,
     .LBcont11,
     .LBcont12,
     .LBOcont1,
     .LBOcont2,
     .LBOcont3 {
       
       display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        height: 40px;


        svg{
            margin: 0 0 0 0.75rem;
        }

        p{
            margin: 0.5rem;
            color: #242424 !important;
        }
     }

  
     
     #LBicon1,
     #LBicon2,
     #LBicon3,
     #LBicon4,
     #LBicon5,
     #LBicon6,
     #LBicon7,
     #LBicon8,
     #LBicon9,
     #LBicon11,
     #LBOicon1,
     #LBOicon2,
     #LBOicon3 {
        // margin-right: 10px;
        // margin-top: 15px;
        //padding-left: 3px;
     }
     #LBOicon1{
      margin-top: 20px;
      margin-right: 10px;
      
     }
     #LBicon10 {
       height: 24px;
       width: 24px;
       margin-right: 10px;
     }
     
     .LBcont2:hover,
     .LBcont3:hover,
     .LBcont4:hover,
     .LBcont5:hover,
     .LBcont6:hover,
     .LBcont7:hover,
     .LBcont8:hover,
     .LBcont9:hover,
     .LBcont10:hover,
     .LBcont11:hover,
     .LBcont12:hover,
     .LBOcont1:hover,
     .LBOcont2:hover,
     .LBOcont3:hover {
       background-color: #E3E3E3;
       cursor: pointer;
       border-radius: 5px;

       &p:hover{
        color: #323ebe !important;
       }
     }
     
     //Cuarta Tarjeta
     .LBcontRedS {
       display: flex;
     flex-direction: row;
     justify-content: flex-start;
     align-items: left;
       padding: 40px 0 40px 10px;
       width: 100%;
       height: auto;
       justify-content: flex-start;
       fill: #7c7a7a;
     }
     
     .crayons-icon {
       margin: 0 20px 0 0px;
     }
     
     #LBiconRS1:hover,
     #LBiconRS2:hover,
     #LBiconRS3:hover,
     #LBiconRS4:hover,
     #LBiconRS5:hover {
       fill: #504f4f;
       cursor: pointer;
     }
     
     //Quinta Tarjeta
     .LBcontTags {
       
       width: 100%;
       display: flex;
    //  flex-direction: column;
     justify-content:space-between;
     align-items: center;
       justify-content: flex-start;
     }
     
     .LBheadTags {
      font-weight: bold;
       font-size: 16px;
       width: 100%;
     }
     
     .LBtags {
       display: flex;
     flex-direction: column;
     justify-content: flex-start;
     align-items: flex-start;
       justify-content: flex-start;
     
       width: 100%;
       height: 360px;
       overflow: scroll;
       overflow-x: hidden;
       padding-top: 0px;
     }
     .LBTagCont {
      //background-color: red;
       display: flex;
     flex-direction: row;
     justify-content: flex-start;
     align-items: left;
       width: 223px;
       height: 40px;
       justify-content: space-between;
       align-items: center;
       font-size: 16px;
       padding: 20px 5px 20px 0px;
       border-radius: 5px;
       z-index: 2;
       
     }
     
     .LBTagBtn{
       background-color: #E6E3E3;
       color: #E6E3E3;
       border-radius: 5px;
       width: 70px;
       height: 25px;
       padding-bottom: 20px;
     }
     
     .LBTagCont:hover{ 
       .LBTagBtn{
      text-align: center;
       // padding: 5px 10px 5px 10px;
        // width: 70px;
        // height: 30px;
        background-color: #3b49df;
        color: white;
        border-radius: 5px;
        font-size: 14px;
        
      }

       }
     
      //  .textoBotones{
         
      //  }
     
     .LBTagCont:hover {
       background-color: #e3e3e3;
       border-radius: 5px;
       cursor: pointer;
       color: #3b49df;
     }
     
     .LBcontPub {
       // @include LBflexColumns();
       display: flex;
       flex-direction: column;
       justify-content: space-between;
       padding-top: 30px;
       padding-bottom: 20px;
       height: 300px;
       width: 100%;
       .LBPub {
         text-align: center;
         font-size: 240px;
       }
     }
     
     .LBim1 {
       height: 180px;
       width: 240px;
     }
     
     .LBcontPub:hover {
       cursor: pointer;
     }