//Size
$site-width: 1280px;
$border: 6px;
$p-20: 20px;

//Font
$f-12 : 12px;
$f-14 : 14px;
$f-15 : 15px;
$f-16 : 16px;
$f-18 : 18px;

//Color
//$color-background:#e6e3e3;
$color-background:#efefef;
$font-color:#090909;

$color-backgroundCard:#ffffff;
$color-hoverTitleCard: #323ebe;
$color-filterCard:#575757;

$color-buttonCreat : #3b49df;
$color-buttonCard:#d6d6d7;
$color-buttonDelete: #dc3545;
$color-buttonDelete-hover: #c01d2d;
$color-buttonUpdate: #35dcce;
$color-buttonUpdate-hover: #32c0b4;
$color-fontButtonCard: #3d3d3d;
$color-hoverButtonCard: #bdbdbd;


$color-hoverButtonOther: rgba(0, 0, 0, 0.035);

//  box shadow rgba(0, 0, 0, 0.05 0px 1px 3px 0px 